@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import "./abstracts/variables";
@import "./abstracts/mixins.scss";

:root {
  --dark: #000000;
  --blackFont: $black_color;
  --grayFont: $gray_color_;
  --whiteFont: #fff;
  --subTitleDark: #1c2541;
  --whiteBg: #fff;
  --navbarDefault: #001524;
  --headerDefault: #001524;
  --heroDefault: $ming;
  --about_section: #ffefd6;
  --mainBgDefault: #fff7eb;
  --featured2BgDefault: #fff7eb;
  --contentDefault: #15616d;
  --heroDefault: #fff7eb;
  --navbarbg: #252525;
  --copyRightDefault: #15616d;
  --colorBtnDefault: ##4b3f72;
  --whiteFontDarkBtn: #fff;
  --bg_animation_default: linear-gradient(
    45deg,
    hsl(36deg 100% 96%) 0%,
    hsl(36deg 100% 96%) 16%,
    hsl(36deg 100% 95%) 27%,
    hsl(36deg 100% 95%) 36%,
    hsl(36deg 100% 94%) 45%,
    hsl(36deg 100% 94%) 54%,
    hsl(36deg 100% 93%) 62%,
    hsl(37deg 100% 93%) 72%,
    hsl(37deg 100% 92%) 83%,
    hsl(37deg 100% 92%) 100%
  );

  --bg_animation_on_dark_mode: linear-gradient(
    45deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(7, 2%, 0%, 1) 16%,
    hsla(12, 0%, 2%, 1) 27%,
    hsla(15, 0%, 5%, 1) 36%,
    hsla(18, 0%, 6%, 1) 45%,
    hsla(0, 0%, 9%, 1) 54%,
    hsla(0, 0%, 10%, 1) 62%,
    hsla(0, 0%, 12%, 1) 72%,
    hsla(0, 0%, 15%, 1) 83%,
    hsla(0, 0%, 16%, 1) 100%
  );
}
/*represent colors for diff elements dark theme and light theme */

.light-theme {
  --heroTheme: var(--heroDefault);
  --nabvar: var(--navbarDefault);
  --header: var(--headerDefault);
  --about: var(--about_section);
  --paragraph: var(--grayFont);
  --title: var(--blackFont);
  --skills-title: var(--grayFont);
  --main: var(--mainBgDefault);
  --featured2: var(--featured2BgDefault);
  --text: var(--dark);
  --subtitle: var(--subTitleDark);
  --content: var(--contentDefault);
  --hero: var(--heroDefault);
  --copyright: var(--copyRightDefault);
  --colorFont: var(--colorBtnDefault);
  --bg_animation: var(--bg_animation_default);
}

.dark-theme {
  --heroTheme: var(--dark);
  --featured: var(--featured);
  --navbar: var(--navbarbg);
  --header: var(--dark);
  --about: var(--dark);
  --paragraph: var(--whiteFont);
  --title: var(--whiteFont);
  --skills-title: var(--whiteFont);
  --icons: var(--whiteBg);
  --main: var(--dark);
  --aboveFooter: var(--dark);
  --featured2: var(--dark);
  --text: var(--whiteFont);
  --subtitle: var(--whiteFont);
  --content: var(--dark);
  --hero: #252525;
  --copyright: var(--dark);
  --colorFont: var(--whiteFontDarkBtn);
  --bg_animation: var(--bg_animation_on_dark_mode);
}

::-webkit-scrollbar {
  width: 1.5em;
}
/**its the entire scrollbar itself*/
::-webkit-scrollbar-track {
  background: #15616d;
  border-radius: 100vw;
  margin-block: 0.5em;
  z-index: 9099;
}

/*is the part that you see that shows you where you are on the page*/
::-webkit-scrollbar-thumb {
  background: #0a2e33;
  border-radius: 100vw;
  border: 0.25em solid #239daf;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #0a2e33 #15616d;
    scrollbar-width: auto;
  }
}
* {
  transition: background-color 0.8s ease, color 1s ease;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", arial;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.cookies-eu-banner {
  width: 100%;
  background-color: #0a2e33;
  color: #fff;
  padding: 1em;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.cookies-eu-banner .cookies-eu-button {
  text-decoration: none;
  background: #15616d;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 1em;
  margin: 0.4em 0;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-eu-banner .cookies-eu-button:hover {
  background-color: white;
  color: #000;
  border: 1px solid #fff;
}

/*hidden by default and then at some point of time i can remove this class*/
.hidden {
  display: none;
}

.line {
  margin-bottom: 0;
  margin-top: 0;
  height: 1px;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $white_color;
}
.nav-link-color {
  font-weight: 300;
  color: #ff7d00 !important;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
.icon {
  cursor: pointer;
}

.nav-container {
  background: var(--nabvar);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  a {
    color: $white_color;
  }
}

.html5_img,
.css3_img,
.js_img {
  cursor: pointer;
  width: 50px;
  height: 45px;
}

@import "./layouts/header";
.hamburger {
  @include displayNone();
  .bar {
    @include displayBlock();
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white_color;
  }
}

.social-header,
.hero-design {
  @include displayNone();
}

.hero {
  color: $white_color;
  @include grid();
  text-align: center;
  padding: 4em;
}

.meet {
  @include displayFlex(flex);
  margin: 0 auto;
  width: 205px;
  font-weight: bold;
  span {
    margin-top: 0em;
    margin-right: 0.5em;
    color: $cyan;
  }
}

.meet > p {
  //color: $yellow_color_;
  color: $amber-color-tint;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

.about {
  background: var(--about);
  p {
    color: var(--paragraph) !important;
  }

  h1 {
    color: var(--title) !important;
  }
}

._span_ {
  font-size: 30px;
}

section {
  padding: 4em 2em;
  text-align: center;
  position: relative;
}

.main {
  padding: 3em;
  text-align: center;
  position: relative;
  background: var(--main);
}

.my_button {
  width: 130px;
  color: var(--colorFont);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: ease-out 0.3s;
  padding: 0.313em;
  font-size: 1em;
  background: none;
  border: none;
  position: relative;
  z-index: 1;
  &:hover {
    color: white;
    cursor: pointer;
  }
  &::before {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0;
    background-color: $violet_color_;
  }
  &:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
}

.text {
  font-size: 24px;
  font-weight: bold;
  color: var(--text);
}

.svg {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 25%;
  // left: 690px;
  pointer-events: none;
}

.featured,
.featured2 {
  position: relative;
  background: var(--featured2);
}

.featured::before,
.featured2::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("../images//my_blob.gif");
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 3;
  //opacity: 0.4;
}

.right {
  width: 200px;
  height: 200px;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--subtitle);
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: $black_color;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  @include displayBlock();
}

.featured-desc {
  color: var(--skills-title);
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

@import "./layouts/skill_container";
section > .little-text {
  background: $dark_white;
}

/*scroll out on iamge*/

.tilt[data-scroll] {
  transition: transform 6s ease-in-out;
}

.tilt[data-scroll="in"] {
  animation: fadein 2s;
}

.tilt[data-scroll="out"] {
  opacity: 1;
}

.tilt2[data-scroll] {
  transition: transform 6s ease-in-out;
}

.tilt2[data-scroll="in"] {
  animation: fadein 4s;
}

.tilt2[data-scroll="out"] {
  opacity: 1;
}

.tilt3[data-scroll] {
  transition: transform 6s ease-in-out;
}

.tilt3[data-scroll="in"] {
  animation: fadein 6s;
}

.tilt3[data-scroll="out"] {
  opacity: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  /*What this media query does is, hides our nav-menu by setting position: fixed; left: -100%; on it.
Also, we set our hamburger to display: block; so it's visible now.

We have also added an extra class that is .nav-menu.active which sets left: 0; on the nav-menu. 
Now we will have to add the javascript which will add this active class on the nav-menu when we click our hamburger.
*/
  // body {
  //     overflow-x: hidden;
  // }

  header {
    background: var(--header);
  }
  .nav-menu {
    position: fixed;
    right: 0;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    height: 425px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 27px $box_shadow_color;
    -webkit-clip-path: circle(100px at 90% -25%);
    clip-path: circle(100px at 90% -25%);
    transition: all 1.3s ease-out;
    pointer-events: none;
    z-index: 1;

    background: var(--header);
  }
  .nav-menu.active {
    left: 0;
    -webkit-clip-path: circle(1000px at 90% -10%);
    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    cursor: pointer;
  }
  .nav-item {
    margin: 2rem 0;
  }
  ul.nav-menu.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header);
    z-index: 1;
    height: 425px;
    position: absolute;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active {
    span {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    }
  }
  .hamburger.active {
    span {
      &:nth-child(2) {
        transform: translateY(8px) rotate(45deg);
      }
    }
  }
  .hamburger.active {
    span {
      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  .nav-menu {
    li {
      opacity: 0;
    }
  }
  ul {
    li {
      a {
        font-size: 1.3em;
      }
    }
  }
  ul {
    li {
      &:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
    }
  }
  ul {
    li {
      &:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
    }
  }
  ul {
    li {
      &:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
    }
  }
  ul {
    li {
      &:nth-child(4) {
        transition: all 0.5s ease 0.8s;
      }
    }
  }
  li.fade {
    opacity: 1;
  }
  .above-footer {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-size: 400%;
    background-image: var(--bg_animation);

    animation: gradientAnimation 8s ease-in-out infinite;
  }
  div.container1 {
    position: relative;
    background: $dark_cyan;
    width: 360px;
    height: 360px;
    z-index: 1;
    border: 1px solid $dark_cyan;
    .cont {
      width: 360px;
      height: 360px;
      transform: rotate(-4deg);
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.6;
      z-index: -1;
    }
    p {
      color: $white_color;
      font-weight: bold;
      font-size: 4em;
      word-break: normal;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -77%);
    }
  }
  div.container2 {
    width: 360px;
    height: 360px;
    position: relative;
    z-index: 1;
    //border: 1px solid $white_color;
    // background: #ffffff;
    background: transparent;
    .cont {
      width: 360px;
      height: 360px;
      transform: rotate(-4deg);
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  div.container3 {
    width: 360px;
    height: 360px;
    position: relative;
    background: $dark_cyan;
    z-index: 1;
    border: 1px solid $dark_cyan;
    .cont {
      width: 360px;
      height: 360px;
      transform: rotate(-4deg);
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.6;
      z-index: -1;
    }
    p {
      width: 40%;
      color: $white_color;
      font-weight: bold;
      font-size: 4em;
      word-break: normal;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -77%);
    }
  }
  footer {
    width: 100%;
    height: 150vh;
    background: #4b3f72;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .container_one {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
    .container_two {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container_three {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }

  .content {
    background: var(--content);
  }
  .hero {
    background: var(--content);
  }

  .featured,
  .featured2 {
    background: var(--featured2);
  }
}

.list_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 629px) {
  .featured,
  .featured2 {
    background: var(--featured2);
  }
  .featured::before,
  .featured2::before {
    display: none;
  }
  header img.my_logo {
    width: 80px;
    height: 45px;
    cursor: pointer;
  }
  ul.list_menu {
    flex-direction: column;
  }
  footer {
    width: 100%;
    height: 100vh;
    background: #4b3f72;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .container_one {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
    .container_two {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container_three {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
  }
  .first_container ul img {
    margin: 1.5em;
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: var(--copyright);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    background: var(--content);
  }
  .hero {
    background: var(--content);
  }
}

@media only screen and (max-width: 799px) {
  header {
    background: var(--header);
  }

  .featured::before,
  .featured2::before {
    display: none;
  }
  div.container1 {
    position: relative;
    background: $dark_cyan;
    width: 360px;
    height: 360px;
    z-index: 1;
    border: 1px solid $dark_cyan;
    .cont {
      width: 360px;
      height: 360px;
      transform: rotate(-4deg);
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.6;
      z-index: -1;
    }
    p {
      color: $white_color;
      font-weight: bold;
      font-size: 4em;
      word-break: normal;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -77%);
    }
  }
  div.container2 {
    width: 360px;
    height: 360px;
    position: relative;
    z-index: 1;
    //border: 1px solid $white_color;
    // background: #faf9f9;
    // background: $balanced-almond-shade;
    background: transparent;
    .cont {
      width: 360px;
      height: 360px;
      transform: rotate(-4deg);
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  div.container3 {
    width: 360px;
    height: 360px;
    position: relative;
    background: $dark_cyan;
    z-index: 1;
    border: 1px solid $dark_cyan;
    .cont {
      width: 360px;
      height: 360px;
      transform: rotate(-4deg);
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.6;
      z-index: -1;
    }
    p {
      width: 40%;
      color: $white_color;
      font-weight: bold;
      font-size: 4em;
      word-break: normal;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -77%);
    }
  }
  main + .above-footer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
  }
  .first_container ul img {
    margin: 1.5em;
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: var(--copyright);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    background: var(--content);
  }
  .hero {
    background: var(--content);
  }
}

//at what point should things start to change about this design
//rules in here will only apply to > 800
@media only screen and (min-width: 800px) {
  header {
    background: var(--header);
  }

  .featured,
  .featured2 {
    text-align: left;
    @include displayGrid(grid, 60% auto);
    background: var(--featured2);
  }
  .left {
    @include grid();
    place-content: center;
  }
  .right {
    margin-left: 3em;
    margin-top: 1em;
  }
  .my-skills {
    // margin-top: -8em;
    // margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul.skillz {
    @include displayGrid(grid, repeat(3, auto));
  }
  section > .little-text {
    padding-top: 7em;
  }
  .above-footer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-size: 400%;
    background-image: var(--bg_animation);
    animation: gradientAnimation 8s ease-in-out infinite;
  }
  div.container1 {
    position: relative;
    background: $dark_cyan;
    width: 360px;
    height: 360px;
    z-index: 1;
    border: 1px solid $dark_cyan;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 1s;
    &:hover {
      clip-path: polygon(13% 5%, 100% 0, 98% 98%, 12% 85%);
    }
    .cont {
      width: 360px;
      height: 360px;
      transform: rotate(-4deg);
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.6;
      z-index: -1;
    }
    p {
      color: $white_color;
      font-weight: bold;
      font-size: 4em;
      word-break: normal;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -77%);
    }
  }
  div.container2 {
    width: 360px;
    height: 360px;
    position: relative;
    z-index: 1;
    //border: 1px solid $white_color;
    // background: $balanced-almond-shade;
    background: transparent;
    .cont {
      width: 360px;
      height: 360px;
      transform: rotate(-4deg);
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: var(--copyright);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .copyright_text {
      margin: 0;
    }
  }

  .content {
    background: var(--content);
  }
  .hero {
    background: var(--content);
  }
}

@media only screen and (min-width: 1050px) {
  .above-footer {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-size: 400%;
    background-image: var(--bg_animation);

    animation: gradientAnimation 8s ease-in-out infinite;
  }
  .hero {
    height: 110vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
    grid-template-columns: 66% auto;
    background: $balanced-almond-shade;
  }
  header {
    background: var(--header);
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 2em 4em 2em 0;
    background: var(--navbar);
  }
  section {
    padding: 4em;
  }
  @import "./layouts/social_header";
  .hero {
    @include displayGrid(grid, 66% auto);
    background: var(--hero);

    padding: 0;
    .content {
      // background: $violet_color_;
      background: var(--content);
      padding: 6em 8em 6em 4em;
      text-align: left;
      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }
  .meet {
    margin: unset;
  }
  //this is hero design
  .hero-design {
    @include displayUnset();
    margin-left: -55%;
    margin-top: 15%;
    width: 100%;
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: var(--copyright);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1250px) {
  .above-footer {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  //mai in dreapta
  header {
    padding: 2em 2em 2em 10em;
  }
  //from in stanga
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
    background: var(--content);
  }
  .hero-design {
    margin-left: -54%;
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: var(--copyright);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
  .hero-design {
    margin-left: -53%;
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: var(--copyright);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .hide {
//   transition: opacity 500 ease-in-out;
// }

#circle1 {
  animation: changeColor1 1.5s infinite alternate;
}

@keyframes changeColor1 {
  0% {
    fill: #ff0000;
  }
  100% {
    fill: #ff8700;
  }
}

#circle2 {
  animation: changeColor2 1.5s infinite alternate;
}

@keyframes changeColor2 {
  0% {
    fill: #ffd300;
  }
  100% {
    fill: #0aefff;
  }
}

#circle3 {
  animation: changeColor3 1.5s infinite alternate;
}

@keyframes changeColor3 {
  0% {
    fill: #ff8700;
  }
  100% {
    fill: #a1ff0a;
  }
}

#circle4 {
  animation: changeColor4 1.5s infinite alternate;
}

@keyframes changeColor4 {
  0% {
    fill: #147df5;
  }
  100% {
    fill: #580aff;
  }
}

#circle5 {
  animation: changeColor5 1.5s infinite alternate;
}

@keyframes changeColor5 {
  0% {
    fill: #be0aff;
  }
  100% {
    fill: #0aff99;
  }
}

#bounceUp {
  animation: slowly_Bounce_Up_And_Down 2s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes slowly_Bounce_Up_And_Down {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}

._section_ {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $balanced-almond-shade;
}

.glider_contain {
  width: 85% !important;
}
._wrapper_ {
  width: 100%;
  margin: 1em;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  width: 40px;
  border-radius: 50px;
  padding: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15616d;
  position: relative;
}

.checkbox-label .ball {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 5px;
  left: 2px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@import "./components/circle_animation";
