@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", arial;
  box-sizing: border-box;
  overflow-x: hidden;
}

.line {
  margin-bottom: 0;
  margin-top: 0;
  height: 1px;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.icon {
  cursor: pointer;
}

.nav-container {
  background: #001524;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}
.nav-container a {
  color: #fff;
}

.html5_img,
.css3_img,
.js_img {
  cursor: pointer;
  width: 50px;
  height: 45px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
header nav {
  float: right;
}
header nav ul {
  display: flex;
}
header nav ul a {
  display: block;
  padding: 0 2em;
}
header img.my_logo {
  width: 80px;
}

.hamburger {
  display: none;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: #15616d;
  color: #fff;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 205px;
  font-weight: bold;
}
.meet span {
  margin-top: 0em;
  margin-right: 0.5em;
  color: #6fffe9;
}

.meet > p {
  color: #ffaa5b;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

.about {
  background: #ffefd6;
}
.about p {
  color: #252525;
}

._span_ {
  font-size: 30px;
}

section {
  padding: 4em 2em;
  text-align: center;
  position: relative;
}

.main {
  padding: 3em;
  text-align: center;
  position: relative;
  background: #fff7eb;
}

.my_button {
  width: 130px;
  color: #4b3f72;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: ease-out 0.3s;
  padding: 0.313em;
  font-size: 1em;
  background: none;
  border: none;
  position: relative;
  z-index: 1;
}
.my_button:hover {
  color: white;
  cursor: pointer;
}
.my_button::before {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  opacity: 0;
  background-color: #4b3f72;
}
.my_button:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.hide {
  display: none;
}

.text {
  font-size: 24px;
  font-weight: bold;
}

.svg {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 25%;
  pointer-events: none;
}

.featured,
.featured2 {
  position: relative;
}

.featured::before,
.featured2::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("../images//my_blob.gif");
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 3;
}

.right {
  width: 200px;
  height: 200px;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #1c2541;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #000;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.my-skills {
  background: #96b0a9;
}

.skills-container ul li {
  background: #fff7eb;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.skills-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.skills-container ul li .icon-container.one {
  width: 50px;
}
.skills-container ul li .icon-container.two {
  width: 50px;
}
.skills-container ul li .icon-container.three {
  width: 50px;
}
.skills-container ul li .skills-title {
  font-weight: bold;
  color: #252525;
}
.skills-container ul li .skills-desc {
  margin-bottom: 2em;
}

.colorcont {
  background-color: #fff7eb;
  transform: translateZ(40px);
}

section > .little-text {
  background: #f7f7ff;
}

@media screen and (max-width: 768px) {
  /*What this media query does is, hides our nav-menu by setting position: fixed; left: -100%; on it.
  Also, we set our hamburger to display: block; so it's visible now.

  We have also added an extra class that is .nav-menu.active which sets left: 0; on the nav-menu. 
  Now we will have to add the javascript which will add this active class on the nav-menu when we click our hamburger.
  */
  .nav-menu {
    position: fixed;
    right: 0;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    height: 425px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    -webkit-clip-path: circle(100px at 90% -25%);
    clip-path: circle(100px at 90% -25%);
    transition: all 1.3s ease-out;
    pointer-events: none;
    z-index: 1;
    background: #001524;
  }
  .nav-menu.active {
    left: 0;
    -webkit-clip-path: circle(1000px at 90% -10%);
    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    cursor: pointer;
  }
  .nav-item {
    margin: 2rem 0;
  }
  ul.nav-menu.active {
    background: #001524;
    z-index: 1;
    height: 425px;
    position: absolute;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu li {
    opacity: 0;
  }
  ul li a {
    font-size: 1.3em;
  }
  ul li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  ul li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  ul li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  ul li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    opacity: 1;
  }
  .above-footer {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #fff7eb;
  }
  div.container1 {
    position: relative;
    background: #119da4;
    width: 360px;
    height: 360px;
    z-index: 1;
    border: 1px solid #119da4;
  }
  div.container1 .cont {
    width: 360px;
    height: 360px;
    transform: rotate(-4deg);
    text-transform: uppercase;
  }
  div.container1 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: -1;
  }
  div.container1 p {
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    word-break: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -77%);
  }
  div.container2 {
    width: 360px;
    height: 360px;
    position: relative;
    z-index: 1;
    background: #ffffff;
  }
  div.container2 .cont {
    width: 360px;
    height: 360px;
    transform: rotate(-4deg);
    text-transform: uppercase;
  }
  div.container2 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  div.container3 {
    width: 360px;
    height: 360px;
    position: relative;
    background: #119da4;
    z-index: 1;
    border: 1px solid #119da4;
  }
  div.container3 .cont {
    width: 360px;
    height: 360px;
    transform: rotate(-4deg);
    text-transform: uppercase;
  }
  div.container3 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: -1;
  }
  div.container3 p {
    width: 40%;
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    word-break: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -77%);
  }
  footer {
    width: 100%;
    height: 150vh;
    background: #4b3f72;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .container_one {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  footer .container_two {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .container_three {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
}
.list_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 629px) {
  .featured::before,
.featured2::before {
    display: none;
  }
  header img.my_logo {
    width: 80px;
    height: 45px;
    cursor: pointer;
  }
  ul.list_menu {
    flex-direction: column;
  }
  footer {
    width: 100%;
    height: 100vh;
    background: #4b3f72;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .container_one {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  footer .container_two {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .container_three {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  .first_container ul img {
    margin: 1.5em;
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: #15616d;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 799px) {
  .featured::before,
.featured2::before {
    display: none;
  }
  div.container1 {
    position: relative;
    background: #119da4;
    width: 360px;
    height: 360px;
    z-index: 1;
    border: 1px solid #119da4;
  }
  div.container1 .cont {
    width: 360px;
    height: 360px;
    transform: rotate(-4deg);
    text-transform: uppercase;
  }
  div.container1 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: -1;
  }
  div.container1 p {
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    word-break: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -77%);
  }
  div.container2 {
    width: 360px;
    height: 360px;
    position: relative;
    z-index: 1;
    background: #fff7eb;
  }
  div.container2 s .cont {
    width: 360px;
    height: 360px;
    transform: rotate(-4deg);
    text-transform: uppercase;
  }
  div.container2 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  div.container3 {
    width: 360px;
    height: 360px;
    position: relative;
    background: #119da4;
    z-index: 1;
    border: 1px solid #119da4;
  }
  div.container3 .cont {
    width: 360px;
    height: 360px;
    transform: rotate(-4deg);
    text-transform: uppercase;
  }
  div.container3 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: -1;
  }
  div.container3 p {
    width: 40%;
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    word-break: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -77%);
  }
  main + .above-footer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
  }
  .first_container ul img {
    margin: 1.5em;
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: #15616d;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 800px) {
  .featured,
.featured2 {
    text-align: left;
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 1em;
    background: #fff7eb;
  }
  .left {
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 3em;
    margin-top: 1em;
  }
  .my-skills {
    padding-top: 7em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  section > .little-text {
    padding-top: 7em;
  }
  .above-footer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #fff7eb;
  }
  div.container1 {
    position: relative;
    background: #119da4;
    width: 360px;
    height: 360px;
    z-index: 1;
    border: 1px solid #119da4;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: -webkit-clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s;
  }
  div.container1:hover {
    -webkit-clip-path: polygon(13% 5%, 100% 0, 98% 98%, 12% 85%);
            clip-path: polygon(13% 5%, 100% 0, 98% 98%, 12% 85%);
  }
  div.container1 .cont {
    width: 360px;
    height: 360px;
    transform: rotate(-4deg);
    text-transform: uppercase;
  }
  div.container1 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: -1;
  }
  div.container1 p {
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    word-break: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -77%);
  }
  div.container2 {
    width: 360px;
    height: 360px;
    position: relative;
    z-index: 1;
    background: #fff7eb;
  }
  div.container2 .cont {
    width: 360px;
    height: 360px;
    transform: rotate(-4deg);
    text-transform: uppercase;
  }
  div.container2 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: #15616d;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright .copyright_text {
    margin: 0;
  }
}
@media only screen and (min-width: 1050px) {
  .above-footer {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fff7eb;
  }
  .hero {
    height: 110vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
    grid-template-columns: 66% auto;
    background: #fff7eb;
  }
  header {
    background: #001524;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 10em;
    float: right;
  }
  .social-header ul img {
    width: 33px;
    height: 33px;
  }
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    grid-gap: 1em;
    background: #fff7eb;
    padding: 0;
  }
  .hero .content {
    background: #15616d;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -55%;
    margin-top: 15%;
    width: 100%;
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: #15616d;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1250px) {
  .above-footer {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
  .hero-design {
    margin-left: -54%;
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: #15616d;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
  .hero-design {
    margin-left: -53%;
  }
  .first_container ul img {
    width: 33px;
    height: 33px;
  }
  .list_icons {
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    height: 40px;
    background: #15616d;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#circle1 {
  -webkit-animation: changeColor1 1.5s infinite alternate;
          animation: changeColor1 1.5s infinite alternate;
}

@-webkit-keyframes changeColor1 {
  0% {
    fill: #ff0000;
  }
  100% {
    fill: #ff8700;
  }
}

@keyframes changeColor1 {
  0% {
    fill: #ff0000;
  }
  100% {
    fill: #ff8700;
  }
}
#circle2 {
  -webkit-animation: changeColor2 1.5s infinite alternate;
          animation: changeColor2 1.5s infinite alternate;
}

@-webkit-keyframes changeColor2 {
  0% {
    fill: #ffd300;
  }
  100% {
    fill: #0aefff;
  }
}

@keyframes changeColor2 {
  0% {
    fill: #ffd300;
  }
  100% {
    fill: #0aefff;
  }
}
#circle3 {
  -webkit-animation: changeColor3 1.5s infinite alternate;
          animation: changeColor3 1.5s infinite alternate;
}

@-webkit-keyframes changeColor3 {
  0% {
    fill: #ff8700;
  }
  100% {
    fill: #a1ff0a;
  }
}

@keyframes changeColor3 {
  0% {
    fill: #ff8700;
  }
  100% {
    fill: #a1ff0a;
  }
}
#circle4 {
  -webkit-animation: changeColor4 1.5s infinite alternate;
          animation: changeColor4 1.5s infinite alternate;
}

@-webkit-keyframes changeColor4 {
  0% {
    fill: #147df5;
  }
  100% {
    fill: #580aff;
  }
}

@keyframes changeColor4 {
  0% {
    fill: #147df5;
  }
  100% {
    fill: #580aff;
  }
}
#circle5 {
  -webkit-animation: changeColor5 1.5s infinite alternate;
          animation: changeColor5 1.5s infinite alternate;
}

@-webkit-keyframes changeColor5 {
  0% {
    fill: #be0aff;
  }
  100% {
    fill: #0aff99;
  }
}

@keyframes changeColor5 {
  0% {
    fill: #be0aff;
  }
  100% {
    fill: #0aff99;
  }
}
#bounceUp {
  -webkit-animation: slowly_Bounce_Up_And_Down 2s ease-in-out infinite alternate;
          animation: slowly_Bounce_Up_And_Down 2s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@-webkit-keyframes slowly_Bounce_Up_And_Down {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}

@keyframes slowly_Bounce_Up_And_Down {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}
._section_ {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff7eb;
}

._wrapper_ {
  width: 100%;
  margin: 1em;
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    transform: translate(314px, 640px);
    z-index: 5;
  }
  to {
    transform: translate(314px, 677px);
    z-index: 5;
  }
}

@keyframes circleAnim {
  from {
    transform: translate(314px, 640px);
    z-index: 5;
  }
  to {
    transform: translate(314px, 677px);
    z-index: 5;
  }
}/*# sourceMappingURL=main.css.map */