header {
    @include displayFlex(flex);
    align-items: center;
    padding: 2em;
    nav {
        float: right;
        ul {
            display: flex;
            a {
                @include displayBlock();
                padding: 0 1em;
            }
        }
    }
    img.my_logo {
        width: 80px;
    }
}