@import "../abstracts/variables";
:root {
  --whiteFont: #fff;
  --grayFont: #252525;
  --darkFont: $black_color_;
  --skills_container_light: #96b0a9;
  --skills_container_dark: #000000;
  --skill_container_light: #fff7eb;
  --skill_container_dark: #2a2a2a;
  --whiteIcon: #fff;
}

.light-theme {
  --skills-container: var(--skills_container_light);
  --skill-title: var(--darkFont);
  --skill-box: var(--skill_container_light);
}

.dark-theme {
  --skills-container: var(--skills_container_dark);
  --skill-title: var(--whiteFont);
  --skill-box: var(--skill_container_dark);
}
.my-skills {
  background: var(--skills-container);
}

h1 {
  color: var(--skill-title);
}

.skills-container ul li {
  background: var(--skill-box);
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;

    display: grid;
    place-content: center;
    margin: 0 auto;
    &.one {
      width: 50px;
    }
    &.two {
      width: 50px;
    }
    &.three {
      width: 50px;
    }
  }
  .skills-title {
    font-weight: bold;
    color: var(--skills-title);
  }
  .skills-desc {
    margin-bottom: 2em;
  }
}

.colorcont {
  transform: translateZ(40px);
}
