.social-header {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    width: 10em;
    float: right;
    img {
      width: 33px;
      height: 33px;
    }
  }
}
