$white_color: #fff;
$black_color: #000;
$yellow_color_: #ffc857;
$gray_color_: #252525;
$violet_color_: #4b3f72;
$dark_violet_color_: #1f2041;
$dark_white: #f7f7ff;
$dark_blue: #1c2541;
$cyan: #6fffe9;
$dark_cyan: #119da4;
$box_shadow_color: rgba(0, 0, 0, 0.05);
$gray_color_dark: #252525;
$smoke: #f7f7ff;

$rich_black: #001524;
$ming: #15616d;
$amber-color-tint: #ffaa5b;
$amber-color-bg: #ff7d00;
$amber-color-svg: #e45627;
$balanced-almond: #ffecd1;
$balanced-almond-shade: #fff7eb;
$kobe: #78290f;
$morning-blue: #96b0a9;
